include components/_index.pug
<!DOCTYPE html>
html(lang="en")
  head
    +headMeta(
      'T_Elevate | Adaptive Upskilling To Help You Fasttrack Your Career Growth',
      'T_Elevate is a unique e-learning and upskilling platform that maps your preferred career growth to a learning path that is adaptive and unique to your preferences.',
      ''
    )
    +headScripts('')

  body
    +nav('')

    main.index
      section.index-hero
        .container
          .row.align-items-center
            .flex-1
              h1 Adaptive Upskilling To Help You Fasttrack Your Career Growth
              p A unique e-learning and upskilling platform that maps your preferred career growth to a learning path. Adaptive and unique to your preferences.
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action="https://xyz.us4.list-manage.com/subscribe/post?u=13f048db3e75d963480afbcda&id=504265d59d", method="post", name="mc-embedded-subscribe-form")
                  label Launching Soon. Sign Up For Early Access.
                  #mc_embed_signup_scroll.row
                    .flex-1
                      .mc-field-group
                        input#mce-EMAIL.required.email(type="email", value="", name="EMAIL", placeholder="Enter your email address", required)
                      .mc-field-group
                        input#mce-URL(type="hidden", value="", name="URL")
                      #mce-responses.clear
                        #mce-error-response.response(style="display:none")
                        #mce-success-response.response(style="display:none")
                      div(style="position: absolute; left: -5000px;" aria-hidden="true")
                        input(type="text" name="b_13f048db3e75d963480afbcda_504265d59d" tabindex="-1" value="")
                    .clear.flex-1
                      button#mc-embedded-subscribe.button(type="submit", name="subscribe") Submit
            .flex-1.right
              img(src="assets/img/televate-hero.png", alt="adaptive upskilling career growth")

      section.index-features.center
        .container
          h2.white Features
          .row
            .flex-1
              img(src="assets/img/adaptive-learning-path.png", alt="adaptive learning path")
              h3 Adaptive
                br
                | Learning Path
              p Not sure where to start. Or what should you focus on for your next career jump? Tell us where you’d like to be and we’ll suggest an optimum learning path for you. All it takes is uploading your resume and answering a few simple questions.
            .flex-1
              img(src="assets/img/personal-mentoring.png", alt="personal mentoring")
              h3 Personal Mentoring with the Experts
              p Queries and questions arising during your learning experience is natural. Having an expert mentor available can make things much simpler. The platform allows you to directly contact the experts and get your queries clarified.
            .flex-1
              img(src="assets/img/multimedia-content.png", alt="multimedia content")
              h3 Immersive, Multimedia Content
              p Experience the joy of learning with rich, immersive and multimedia-driven content. We focus more on visual content, like videos, animations and practical learning visualisations rather than boring long-form text. Learning, after all, is better when visualised than when read.
            .flex-1
              img(src="assets/img/gamified-learning.png", alt="gamified learning")
              h3 Gamified Learning for Better Retention
              p Effective, informal learning environment that helps you practice real-life problems and challenges in a safe environment. This leads to a great learning experience as well as better retention.
            .flex-1
              img(src="assets/img/blockchain-security.png", alt="blockchain security")
              h3 Blockchain-Based System for Enhanced Security
              p We take the security of your data seriously. That’s why we went the extra mile building the whole system on Blockchain technology. (Easy and tamper-proof verification).

      section.index-paths.center
        .container
          h2 Popular Learning Paths
          .index-paths__course
            h3 Course:
              span.normal  Big Data Engineering
            .row
              .flex-1
                h4.uppercase Starter Path
                .separator
                p Interested in knowing the basics of Big Data? A feeler program to give you what it takes for a successful Big Engineering career.
                p.index-paths__course--pre
                  span.bold.uppercase Prerequisites
                  br
                  | Basic Computer
                  br
                  | Programming Literacy
                a.button(href="#") Explore Path
              .flex-1
                h4.uppercase Hobbyist Path
                .separator
                p Already familiar with the basics but want to get some hands-on practice? This path is for you.
                p.index-paths__course--pre
                  span.bold.uppercase Prerequisites
                  br
                  | Statistics and Regression
                a.button(href="#") Explore Path
              .flex-1
                h4.uppercase Professional Path
                .separator
                p You have been dabbling with basic data modelling and now want to venture into the professional world. Hop on!
                p.index-paths__course--pre
                  span.bold.uppercase Prerequisites
                  br
                  | Proficiency in R and Python
                a.button(href="#") Explore Path
          .index-paths__course
            h3 Course:
              span.normal  Blockchain Expert
            .row
              .flex-1
                h4.uppercase Starter Path
                .separator
                p Interested in knowing what Blockchain is all about? A starter program to give you a feel of the field.
                p.index-paths__course--pre
                  span.bold.uppercase Prerequisites
                  br
                  | Basic Computer
                  br
                  | Programming Literacy
                a.button(href="#") Explore Path
              .flex-1
                h4.uppercase Hobbyist Path
                .separator
                p Already familiar with the basics but want to get some hands-on practice? This path is for you.
                p.index-paths__course--pre
                  span.bold.uppercase Prerequisites
                  br
                  | Programing Literacy
                a.button(href="#") Explore Path
              .flex-1
                h4.uppercase Professional Path
                .separator
                p You have been dabbling with basic data modelling and now want to venture into the professional world. Hop on!
                p.index-paths__course--pre
                  span.bold.uppercase Prerequisites
                  br
                  | Proficiency in R and Python
                a.button(href="#") Explore Path
          a.button(href="#") See All Learning Paths

      +footer('')

    script.
      var navMenu = document.getElementsByClassName('nav-menu')[0];
      var navToggleIcon = document.getElementsByClassName('nav-toggle-icon')[0];

      function toggleMobileMenu() {
        if (navMenu.className === 'nav-menu') {
          navMenu.className = 'nav-menu active';
          navToggleIcon.src = 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/md-close.svg';
        } else {
          navMenu.className = 'nav-menu';
          navToggleIcon.src = 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/collection/build/ionicons/svg/md-menu.svg';
        }
      }

      window.onload = function() {
        document.getElementById('mce-URL').value = window.location.href;
      }